*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(255, 244, 91);
}
.container{ 
    width: 100%;
    max-width: 1200px;
    height: 500px;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1{
    text-align: center;
    margin-top: 150px;
    font-size: 60px;
    color: red;
    text-decoration: dashed;
}
.slide{
    height: 100%;
    display: none;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.slider{
    height: 100%;
    position: relative;
    border: 3px solid black;

}

img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

i{
    color: rgb(68, 64, 64);
}

.controls{
    position: absolute;
    top: 50%;
    width: 100%;
    height: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: center;
}

#prev, #next{
    width: 10px;
    height: 10px;
    margin: 10px;
    padding: 18px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #CCCCCC;
    cursor: pointer;
}
.active{
    display: block;
}
